#Ignore
wks-devops_az_sql/config
wks-devops_az_sql/workflow
wks-devops_az_sql/ressources
wks-devops_az_sql/mssql-db/db-integrationtests/bin
wks-devops_az_sql/mssql-db/db-integrationtests/obj
wks-devops_az_sql/mssql-db/db-integrationtests/TestResults
wks-devops_az_sql/mssql-db/ssdt/DatabaseProjectrewardsdb/*
!wks-devops_az_sql/mssql-db/ssdt/DatabaseProjectrewardsdb/bin

wks-devops_az_sql/mssql-db/sql-query
