#Ignore
wks-devops_az_sql/config
wks-devops_az_sql/workflow
wks-devops_az_sql/ressources
wks-devops_az_sql/mssql-db/ssdt/DatabaseProjectrewardsdb/*
!wks-devops_az_sql/mssql-db/ssdt/DatabaseProjectrewardsdb/bin

